In [14]:
! python -V

Python 3.12.1

In [51]:
import pandas as pd
import numpy as np

from sklearn.metrics import mutual_info_score

import seaborn as sns
from matplotlib import pyplot as plt

## Preprocessing

In [16]:
def read2df(filename):
    if filename.endswith('.csv'):
        df = pd.read_csv(filename)
    elif filename.endswith('.parquet'):
        df = pd.read_parquet(filename)

    df.columns = df.columns.str.lower().str.replace(' ', '_')

    categorical_columns = list(df.dtypes[df.dtypes == 'object'].index)

    for c in categorical_columns:
        df[c] = df[c].str.lower().str.replace(' ', '_')

    df.totalcharges = pd.to_numeric(df.totalcharges, errors='coerce')
    df.totalcharges = df.totalcharges.fillna(0)

    df.churn = (df.churn == 'yes').astype(int)

    categorical = [
        'gender',
        'seniorcitizen',
        'partner',
        'dependents',
        'phoneservice',
        'multiplelines',
        'internetservice',
        'onlinesecurity',
        'onlinebackup',
        'deviceprotection',
        'techsupport',
        'streamingtv',
        'streamingmovies',
        'contract',
        'paperlessbilling',
        'paymentmethod',
    ]

    df[categorical] = df[categorical].astype(str) # DictVectorizer inputs dict of strs and outputs numpy array
    
    return df

In [23]:
df = pd.read_csv('/workspaces/Churn-Prediction-AWS-Lambda-Deployment/Telco-Customer-Churn.csv')
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [24]:
len(df)

7043

In [25]:
df.head().T

,0,1,2,3,4
customerID,7590-VHVEG,5575-GNVDE,3668-QPYBK,7795-CFOCW,9237-HQITU
gender,Female,Male,Male,Male,Female
SeniorCitizen,0,0,0,0,0
Partner,Yes,No,No,No,No
Dependents,No,No,No,No,No
tenure,1,34,2,45,2
PhoneService,No,Yes,Yes,No,Yes
MultipleLines,No phone service,No,No,No phone service,No
InternetService,DSL,DSL,DSL,DSL,Fiber optic
OnlineSecurity,No,Yes,Yes,Yes,No
OnlineBackup,Yes,No,Yes,No,No
DeviceProtection,No,Yes,No,Yes,No
TechSupport,No,No,No,Yes,No
StreamingTV,No,No,No,No,No
StreamingMovies,No,No,No,No,No
Contract,Month-to-month,One year,Month-to-month,One year,Month-to-month
PaperlessBilling,Yes,No,Yes,No,Yes
PaymentMethod,Electronic check,Mailed check,Mailed check,Bank transfer (automatic),Electronic check
MonthlyCharges,29.85,56.95,53.85,42.3,70.7
TotalCharges,29.85,1889.5,108.15,1840.75,151.65
Churn,No,No,Yes,No,Yes

In [26]:
df.dtypes

customerID           object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges         object
Churn                object
dtype: object

In [27]:
# because there are values that do not convert to number because use the errors='coerce' any non-numeric value encountered during the conversion process will be replaced with NaN (Not a Number)
df['TotalCharges'] = pd.to_numeric(df['TotalCharges'], errors='coerce')

In [ ]:
# there where 11 values where a space was there and was changed to NaN
df['TotalCharges'].isnull().sum()

np.int64(11)

In [29]:
#replace NaN with 0, might be bad for model
df['TotalCharges'] = df['TotalCharges'].fillna(0)

In [30]:
df.columns = df.columns.str.lower().str.replace(' ', '_')

string_columns = list(df.dtypes[df.dtypes == 'object'].index)

for col in string_columns:
    df[col] = df[col].str.lower().str.replace(' ', '_')

In [31]:
# we want binary 1 or 0 for class. Isolate Yes and replace with number
df.churn = (df.churn == 'yes').astype(int)

In [6]:
X = df.drop('churn',axis=1)
y = df['churn'].values

In [32]:
df.head().T

,0,1,2,3,4
customerid,7590-vhveg,5575-gnvde,3668-qpybk,7795-cfocw,9237-hqitu
gender,female,male,male,male,female
seniorcitizen,0,0,0,0,0
partner,yes,no,no,no,no
dependents,no,no,no,no,no
tenure,1,34,2,45,2
phoneservice,no,yes,yes,no,yes
multiplelines,no_phone_service,no,no,no_phone_service,no
internetservice,dsl,dsl,dsl,dsl,fiber_optic
onlinesecurity,no,yes,yes,yes,no
onlinebackup,yes,no,yes,no,no
deviceprotection,no,yes,no,yes,no
techsupport,no,no,no,yes,no
streamingtv,no,no,no,no,no
streamingmovies,no,no,no,no,no
contract,month-to-month,one_year,month-to-month,one_year,month-to-month
paperlessbilling,yes,no,yes,no,yes
paymentmethod,electronic_check,mailed_check,mailed_check,bank_transfer_(automatic),electronic_check
monthlycharges,29.85,56.95,53.85,42.3,70.7
totalcharges,29.85,1889.5,108.15,1840.75,151.65
churn,0,0,1,0,1

In [ ]:
#no nulls
df.isnull().sum()

customerid          0
gender              0
seniorcitizen       0
partner             0
dependents          0
tenure              0
phoneservice        0
multiplelines       0
internetservice     0
onlinesecurity      0
onlinebackup        0
deviceprotection    0
techsupport         0
streamingtv         0
streamingmovies     0
contract            0
paperlessbilling    0
paymentmethod       0
monthlycharges      0
totalcharges        0
churn               0
dtype: int64

In [35]:
# look at the ratio of classes in train_full (training + validation sets) churn rate of 27%
df.churn.value_counts(normalize=True)

churn
0    0.73463
1    0.26537
Name: proportion, dtype: float64

In [37]:
# seperating categorical and numerical classes
categorical = ['gender', 'seniorcitizen', 'partner', 'dependents',
               'phoneservice', 'multiplelines', 'internetservice',
               'onlinesecurity', 'onlinebackup', 'deviceprotection',
               'techsupport', 'streamingtv', 'streamingmovies',
               'contract', 'paperlessbilling', 'paymentmethod']
numerical = ['tenure', 'monthlycharges', 'totalcharges']

In [38]:
# some are binary or multile values
df[categorical].nunique()

gender              2
seniorcitizen       2
partner             2
dependents          2
phoneservice        2
multiplelines       3
internetservice     3
onlinesecurity      3
onlinebackup        3
deviceprotection    3
techsupport         3
streamingtv         3
streamingmovies     3
contract            3
paperlessbilling    2
paymentmethod       4
dtype: int64

In [ ]:
global_mean = df.churn.mean()
round(global_mean, 3)

In [40]:
#churn rate by gender category, not really that different from global churn rate
female_mean = df[df.gender == 'female'].churn.mean()
print('gender == female:', round(female_mean, 3))

male_mean = df[df.gender == 'male'].churn.mean()
print('gender == male:  ', round(male_mean, 3))

gender == female: 0.269
gender == male:   0.262

In [41]:
# risk ratio for women
female_mean / global_mean

np.float64(1.014466016021912)

In [42]:
# risk ratio for men
male_mean / global_mean

np.float64(0.9858066205669676)

In [45]:
# churn rate for partner, no partner is higher
partner_yes = df[df.partner == 'yes'].churn.mean()
print('partner == yes:', round(partner_yes, 3))

partner_no = df[df.partner == 'no'].churn.mean()
print('partner == no :', round(partner_no, 3))

partner == yes: 0.197
partner == no : 0.33

In [ ]:
# calculating risk ratios for all categorical columns
for col in categorical:
    df_group = df.groupby(by=col).churn.agg(['mean'])
    df_group['diff'] = df_group['mean'] - global_mean
    df_group['risk'] = df_group['mean'] / global_mean
    display(df_group)

            mean      diff      risk
gender
female  0.269209  0.003839  1.014466
male    0.261603 -0.003766  0.985807

                   mean      diff      risk
seniorcitizen
0              0.236062 -0.029308  0.889557
1              0.416813  0.151443  1.570686

             mean      diff      risk
partner
no       0.329580  0.064210  1.241964
yes      0.196649 -0.068721  0.741038

                mean      diff      risk
dependents
no          0.312791  0.047422  1.178700
yes         0.154502 -0.110868  0.582215

                  mean      diff      risk
phoneservice
no            0.249267 -0.016103  0.939319
yes           0.267096  0.001726  1.006506

                      mean      diff      risk
multiplelines
no                0.250442 -0.014927  0.943749
no_phone_service  0.249267 -0.016103  0.939319
yes               0.286099  0.020729  1.078114

                     mean      diff      risk
internetservice
dsl              0.189591 -0.075779  0.714441
fiber_optic      0.418928  0.153558  1.578656
no               0.074050 -0.191320  0.279044

                         mean      diff      risk
onlinesecurity
no                   0.417667  0.152297  1.573906
no_internet_service  0.074050 -0.191320  0.279044
yes                  0.146112 -0.119258  0.550597

                         mean      diff      risk
onlinebackup
no                   0.399288  0.133918  1.504645
no_internet_service  0.074050 -0.191320  0.279044
yes                  0.215315 -0.050055  0.811377

                         mean      diff      risk
deviceprotection
no                   0.391276  0.125906  1.474456
no_internet_service  0.074050 -0.191320  0.279044
yes                  0.225021 -0.040349  0.847951

                         mean      diff      risk
techsupport
no                   0.416355  0.150985  1.568960
no_internet_service  0.074050 -0.191320  0.279044
yes                  0.151663 -0.113706  0.571517

                         mean      diff      risk
streamingtv
no                   0.335231  0.069861  1.263261
no_internet_service  0.074050 -0.191320  0.279044
yes                  0.300702  0.035332  1.133143

                         mean      diff      risk
streamingmovies
no                   0.336804  0.071434  1.269188
no_internet_service  0.074050 -0.191320  0.279044
yes                  0.299414  0.034044  1.128291

                    mean      diff      risk
contract
month-to-month  0.427097  0.161727  1.609440
one_year        0.112695 -0.152675  0.424672
two_year        0.028319 -0.237051  0.106714

                      mean      diff      risk
paperlessbilling
no                0.163301 -0.102069  0.615371
yes               0.335651  0.070281  1.264842

                               mean      diff      risk
paymentmethod
bank_transfer_(automatic)  0.167098 -0.098271  0.629681
credit_card_(automatic)    0.152431 -0.112939  0.574410
electronic_check           0.452854  0.187484  1.706502
mailed_check               0.191067 -0.074303  0.720003

In [55]:
# Mutual information measures the statistical dependence between any two variables
def calculate_mi(series):
    return mutual_info_score(series, df.churn)

df_mi = df[categorical].apply(calculate_mi)
df_mi = df_mi.sort_values(ascending=False).to_frame(name='MI')


display(df_mi.head(8))
display(df_mi.tail())

                        MI
contract          0.098453
onlinesecurity    0.064677
techsupport       0.063021
internetservice   0.055574
onlinebackup      0.046792
paymentmethod     0.044519
deviceprotection  0.043917
streamingmovies   0.032001

                     MI
partner        0.011454
seniorcitizen  0.010577
multiplelines  0.000801
phoneservice   0.000072
gender         0.000037

In [ ]:
#show the correlation between numerical terms
df[numerical].corrwith(df.churn).to_frame('correlation')

                correlation
tenure            -0.352229
monthlycharges     0.193356
totalcharges      -0.198324